 <!-- Contact Section -->
 <hr>
    <section id="contact" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Me</h2>
                </div>
            </div>
            <div class="row">
				<div align="center">
				
					<div class="col-lg-8 col-lg-offset-2">
					<p color>The best way to contact me to to send me an email at the following address:</p>	
					<a href="mailto:lewis@bubblemap.co.uk"><h3>lewis@bubblemap.co.uk</h3></a>
					</div>
				</div>
            </div>
        </div>
    </section>
