    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/Me.png" width="200em" alt="" style="margin-right:20px">
                    <div class="intro-text">
                        <span class="name">Hi,</span>
                        <span class="skills">
                            I'm Rhys, soon to be a Computer Games Programming graduate from the University of Gloucestershire.<br>
                            Over the past few years of developing my knowledge of programming and software skills, I have found that my main interest is towards Gameplay and AI Programming. I love creating and tweaking the player's interactions to give them the most satisfying experience.
                            <br>I am currently working in a team on an upcoming PC release by the name of Kurat. Visit <a href="https://www.kurat.co.uk/"><FONT color="#0000ff">www.kurat.co.uk</FONT></a> to find out more <br><br>
                            The skills of which I have acquired include: <br><br>
                            <ul>
                                <li>C#, C++</li>
                                <li>Unity Engine</li>
                                <li>Unreal Engine 4</li>
                                <li>Visual Studio (Community and Code)</li>
                                <li>Adobe Creative Suite</li>
                                <li>Autodesk Maya</li>
                                <li>Perforce, GitHub</li>
                                <li>Confluence, HacknPlan, Trello</li>
                            </ul>
                            <br>

                            Many of my projects are available to look at below in my portfolio.<br>
                            Thank you for taking your time to view my webpage portfolio.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>