    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/Me.png" width="200em" alt="" style="margin-right:20px">
                    <div class="intro-text">
                        <span class="name">Hi,</span>
                        <span class="skills">
                            I'm Rhys, a passionate Game Developer currently working at Push Gaming.<br>
                            With my first commercial project, “Shamrock Saints,” set to launch on March 1st - a project where I led the development - I’m thrilled to bring my 9 years of programming and software skills into the gaming world. 
			    Along with gaining a First Class Honours BSc in Computer Games Programming from the University of Gloucestershire, I have found that my primary interest lies towards Gameplay and AI Programming.<br> 
                            In the spotlight of my career is “Kurat,” a TIGA-nominated indie project developed with 4 others, in which I dedicated myself to crafting Player Combat and Enemy AI within the Unity Engine. Beyond team projects, I am currently engaged in two solo projects: a Mobile Maths Puzzle Game using Unity and a Third-Person Stealth game in Unreal Engine 5. <br>
                            The skills of which I have acquired include: <br><br>
                            <ul>
                                <li>C#, C++, TypeScript</li>
                                <li>Unity Engine</li>
                                <li>Unreal Engine 4</li>
                                <li>Visual Studio (Community and Code)</li>
                                <li>Adobe Creative Suite</li>
                                <li>Autodesk Maya</li>
                                <li>Perforce, GitHub</li>
                                <li>Confluence, ClickUp, Trello</li>
                            </ul>
                            <br>

                            Many of my projects are available to look at below.<br>
                            Thank you for taking your time to view my webpage portfolio.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>