    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" width="100em" alt="" style="margin-right:20px">
                    <div class="intro-text">
                        <span class="name">Hi,</span>
                        <span class="skills" style="display:block;">I'm Rhys Wareham, a level 5 Computer Games Programming student studying at the University of Gloucestershire.<br>
							My interest in computer programming took off about 5 years ago, and ever since, I have been learning and acquiring new skills and understandings of multiple programming languages and software; most of which I developed throughout student projects, which are available to look at in my portfolio.

							The skills of which I have developed over the past few years include: <br><br>
							<ul>
								<li>C, C#, C++</li>
								<li>Python</li>
								<li>HTML, CSS, XAML</li>
								<li>Unity Engine</li>
								<li>Unreal Engine 4</li>
								<li>Visual Studio (Community and Code)</li>
								<li>Adobe Creative Suite</li>
								<li>Autodesk Maya</li>
								<li>Perforce, GitHub</li>
								<li>Confluence</li>
							</ul>


							Thank you for taking your time to view my webpage portfolio.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>